.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom,#0fcf9f,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description{
  font-size: 24px;
  font-weight: 300;
}

.image{
  width: 100%;
  height: 500px;
  object-fit: contain; 
  animation: move 3s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
.button{
  padding: 20px;
  cursor: pointer;
  background-color: #09a27c;
  border: none;
  border-radius: 5px;
  width: max-content;
  color:white;
}