.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links{
    display: flex;
    align-items: center;
    gap:20px;
}

.link{
    color: white !important;
}

.logout{
    padding: 5px;
    border: none;
    background-color: #cf0f32;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}


@media only screen and ( max-width:1126px){
    .container{
      flex-direction: column;
    }
}

@media only screen and ( max-width:625px){
    .links{
        z-index: 99;
        width:100%;
        flex-direction: column;
        background:rgb(0,0,0,0.5);
    }
}