.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 22px;
}

.links{
    display: flex;
    align-items: center;
    gap:20px;
}

.link{

}

.logout{
    padding: 5px;
    border: none;
    background-color: rgb(12, 155, 114);
    color: white;
    cursor: pointer;
    border-radius: 3px;
}