.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    padding:1rem 0px;
}

.imgContainer{
    width:max-content;
    padding-right: 1rem;
}

.img{
    object-fit: cover;
    border-radius:5px 0px;
}

.content{
    display: flex;
    flex-direction:column;
    padding: 0px 5px;
}

.title{
    font-size: 20px;
}

.description{
    font-size: 10px;
}